*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}    

body {
    width: 100%;
}

.main {
    width: 100%;
}

.nav {
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}

.left,
.right {
    width: 50%;
}

.left {
    display: flex;
    align-items: center;
}

.left h1 {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 900;
    transform: scale(-1, -1);
}

.right {
    display: flex;
    justify-content: center;
}

.right ul {
    display: flex;
    justify-content: end;
    width: 100%;
}

.right ul li {
    list-style: none;
    margin-right: 20px;
}

.right ul li a {
    text-decoration: none;
    color: black;
}

.right .search {
    margin-right: 20px;
}

.right .search i {
    font-size: 25px;
}

.section1 {
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
        background-image: linear-gradient(
            to bottom, 
            rgba(43, 41, 41, 0.89), 
            rgba(43, 41, 41, 0.768)
      ),url("images.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

.section1 .message {
    color: white;
    width: 25%;
    margin-left: 200px;

}

.section1 .message h2 {
    font-size: 50px;
    font-weight: 1000;
    color: white;
    margin-bottom: 20px;
}

.section2 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window1 {
    width: 90%;
    height: 450px;
    border: 1px solid black;
}

.section2 .window1 .message {
    width: 60%;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 2;
}

.section2 .window1 .message p {
    font-weight: 200;
    font-size: 18px;
}

h2 {
    font-weight: 1000;
}

hr {
    width: 40px;
}

.frame {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 40px;
}

.frame .windows {
    width: 32%;
}

.section2 .window1 .message .frame {
    width: 100%;
    display: flex;
}





.section3 {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
        background-color: black;
        background-image: linear-gradient(
            to bottom, 
            rgba(43, 41, 41, 0.89), 
            rgba(43, 41, 41, 0.768)
          ),url("icon.jpg");
          background-repeat: no-repeat;
          background-size: cover;
}

.window2 {
    width: 90%;
}

.window2 .message2 h2 {
    font-size: 50px;
    font-weight: 1000;
}

.section3 .window2 hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40px;
}

.titles .butt {
    width: 20%;
}

.titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titles .butt h6 {
    color: rgba(205, 202, 202, 0.703);
}

.section3 .message2 h2 {
    color: white;
}

.section3 .message2 p {
    color: white;
}

.lesavenirs {
    font-family: 'Devonshire', cursive;
    font-size: 22px;
}

.avecsimple {
    font-family: 'Karma', serif;
    font-size: 18px;
    font-weight: 300;
}

.whitespace {
    font-size: 18px;
    font-family: 'Literata', serif;
}

.minimalism {
    font-size: 18px;
}

.barcelona33 {
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
}

.butt .smoothvanilla {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.section4 {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window3 {
    width: 90%;
}

.section4 .window3 .message3 {
    color: black;
}

.section4 .window3 .message3 .picholder {
    width: 100%;
    height: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.section4 .window3 .message3 .picholder .pics {
    width: 48%;
}

.section4 .window3 .message3 .picholder .pics .shape {
    width: 100%;
    height: inherit;
}

.window3 .message3 h2 {
    margin-top: 100px;
    color: black;
    font-size: 50px;
}

.picholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.message3 h2 {
    line-height: 2;
}

.window3 hr {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 40px;
    color: black;
}

.section5 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: blue;
    background-image: linear-gradient(
            to right, 
            rgba(0, 123, 255, 0.789),
            rgba(2, 242, 246, 0.816) 
         );
}

.section5 .heading {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading .frame {
    margin: 10px;
}

.section5 .heading a {
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    color: black;
    font-family: 'Karma', serif;
}

.section6 {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section6 .logoin {
    color: white;
}

.section6 .logoin .login {
    display: flex;
    justify-content: center;
    line-height: 2;
}

.section6 .logoin .link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    line-height: 4;
    font-weight: 100;
}

.section6 .logoin .login h1 {
    font-weight: 900;
    transform: scale(-1, -1);
    font-size: 40px;
}

.section6 .size {
    font-size: 13px;
}

.section6 .logoin .link a {
    color: white;
    font-size: 11px;
    text-decoration: none;
}














